Makefile
src/libextractor_fb2.so
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
stamp-h1
*.lo
*.la
*.o
src/config.h
*~
*.loT
