Source: libextractor-oi-extras
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 4.2.0), libextractor-dummy-dev | libextractor-dev, libexpat-dev, libzip-dev, autoconf, libtool, automake
Section: core
XCS-Cross-Host-Build-Depends: debhelper (>= 4.2.0), pkg-config, autoconf, libtool, automake
XCS-Cross-Build-Depends: libextractor-mini-dev, libexpat-dev, libzip-dev (>= 0.8-3)
standards-Version: 3.8.0

Package: libextractor-oi-extras
Architecture: any
Depends: ${shlibs:Depends}, gconv-data-basic
Description: additional plugins for libextractor
 This package provides extractor.h API for libextractor for those who don't like
 using libxetractor implementation of plugins loader, but uses libextractor
 plugins.
