Source: libextractor-mini
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 4.2.0), cdbs, libexpat-dev, libzip-dev, autoconf, libtool, automake, libvorbisidec-dev, libid3tag0-dev, libglib2.0-dev, libmupdf-dev
Section: core
XCS-Cross-Host-Build-Depends: debhelper (>= 4.2.0), cdbs, cdbs-embedded, pkg-config, autoconf, libtool, automake
XCS-Cross-Build-Depends: libexpat-dev, libzip-dev (>= 0.8-3), libvorbisidec-dev, libid3tag0-dev, libglib2.0-dev, libmupdf-dev
standards-Version: 3.8.0

Package: extractor-mini
Architecture: any
Section: gui
Depends: ${shlib:Depends}
Description: Minimalistic metadata extractor -- test application
 Library for metadata extraction from various files.
 .
 This package contains a small CLI app for library testing.

Package: libextractor-mini0
Architecture: any
Section: gui
Depends: ${shlib:Depends}
Description: Minimalistic metadata extractor
 Library for metadata extraction from various files.
 .
 This package contains the runtime library.

Package: libextractor-mini-dev
Architecture: any
Section: gui
Depends: libextractor-mini0 (= ${binary:Version})
Description: API for libextractor-mini
 Library for metadata extraction from various files.
 .
 This package contains development files.

Package: libextractor-mini-plugins
Architecture: any
Depends: libextractor-mini-plugin-fb2, libextractor-mini-plugin-epub, libextractor-mini-plugin-mp3, libextractor-mini-plugin-ogg
Description: additional plugins for libextractor
 Library for metadata extraction from various files.
 .
 This package provides the default plugin set.

Package: libextractor-mini-plugins-extra
Architecture: any
Depends: libextractor-mini-plugins, libextractor-mini-plugin-pdf, libextractor-mini-plugin-rtf
Description: additional plugins for libextractor
 Library for metadata extraction from various files.
 .
 This package provides the full plugin set.

Package: libextractor-mini-plugin-fb2
Architecture: any
Depends: ${shlibs:Depends}, libextractor-mini0 (= ${binary:Version})
Description: additional plugins for libextractor
 This package provides extractor.h API for libextractor for those who don't like
 using libextractor implementation of plugins loader, but uses libextractor
 plugins.
 .
 This plugin fetches metadata from FB2 files

Package: libextractor-mini-plugin-mp3
Architecture: any
Depends: ${shlibs:Depends}, libextractor-mini0 (= ${binary:Version})
Description: additional plugins for libextractor
 This package provides extractor.h API for libextractor for those who don't like
 using libextractor implementation of plugins loader, but uses libextractor
 plugins.
 .
 This plugin fetches metadata from MP3 files

Package: libextractor-mini-plugin-ogg
Architecture: any
Depends: ${shlibs:Depends}, libextractor-mini0 (= ${binary:Version})
Description: additional plugins for libextractor
 This package provides extractor.h API for libextractor for those who don't like
 using libextractor implementation of plugins loader, but uses libextractor
 plugins.
 .
 This plugin fetches metadata from Ogg Vorbis files.

Package: libextractor-mini-plugin-pdf
Architecture: any
Depends: ${shlibs:Depends}, libextractor-mini0 (= ${binary:Version})
Description: additional plugins for libextractor
 This package provides extractor.h API for libextractor for those who don't like
 using libextractor implementation of plugins loader, but uses libextractor
 plugins.
 .
 This plugin fetches metadata from PDF files.

Package: libextractor-mini-plugin-rtf
Architecture: any
Depends: ${shlibs:Depends}, libextractor-mini0 (= ${binary:Version})
Description: additional plugins for libextractor
 This package provides extractor.h API for libextractor for those who don't like
 using libextractor implementation of plugins loader, but uses libextractor
 plugins.
 .
 This plugin fetches metadata from RTF files.

Package: libextractor-mini-plugin-epub
Architecture: any
Depends: ${shlibs:Depends}, libextractor-mini0 (= ${binary:Version})
Description: additional plugins for libextractor
 This package provides extractor.h API for libextractor for those who don't like
 using libxetractor implementation of plugins loader, but uses libextractor
 plugins.
 .
 This plugin fetches metadata from EPUB files.

Package: libextractor-mini-dbg
Architecture: any
Section: debug
Depends: libextractor-mini0 (= ${binary:Version})
Description: Minimalistic metadata extractor -- debug
 Library for metadata extraction from various files.
 .
 This package contains debugging symbols
